body {
  font-family: 'Dubai', sans-serif;
  margin: 0;
  padding: 0;
}


.card-container {
  max-width: 970px;
  border-radius: 10px;
}

.sub-body {
  background-color: #E8E8F4;
  border-radius: 8px;
}

.first-card {
  width: 970px;
  border-radius: 10px;
}

.container {
  margin-bottom: 30px;
}

.card-header {
  display: flex;
  align-items: center;
  background-color: #EEEEEE;
  border-bottom: none;
}

.terms-card {
  background-color: #EEEEEE;
  margin-top: 20px;
  border: none;
  height: 56px;
}

.apply-container {
  display: inline-flex;
  align-items: center; 
}

.apply-container img {
  padding: 0 5px 15px 5px;
}

.step {
  font-size: 14px;
  font-weight: 500;
  color: #171C8F;
}

[dir="rtl"] .step {
  margin-left: 20px;
}

[dir="ltr"] .step {
  margin-right: 20px;
}

.step-one {
  font-size: 57px;
  font-weight: 400;
  color: #171C8F;
}

.step-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 0;
  color: #171C8F;
  text-align: start;
}

.apply-title {
  font-size: 45px;
  font-weight: 400;
  color: #1A1A1A;
  text-align: start;
}

.apply-title img {
  margin-right: 15px;
}

.scholarship-card {
  background-color: #EEEEEE;
  /* height: 584px; */
  max-width: 976px;
  margin-top: 20px;
  padding: 20px;
  border: none;
}

.track-scholarship-card {
  height: 170px;
}


.scholarship-text {
  font-weight: 400;
  font-size: 16px;
  color: #1A1A1A;
  margin-bottom: 20px;
}

.terms-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #1A1A1A;
  margin-bottom: 10px;
}

.help-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 60px 50px;
}

.help-title {
  font-weight: 400;
  font-size: 28px;
  color: #1A1A1A;
  margin-bottom: 20px;
}

.help-option {
  font-weight: 400;
  font-size: 16px;
  color: #1A1A1A;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.help-bold-text {
  font-weight: 700;
  padding: 0 5px;
}

.help-option i {
  margin-right: 10px;
  font-size: 24px;
  color: #171C8F;
}


.help-option img {
  width: 18px;
  height: 18px;
}

[dir="rtl"] .help-option img {
  margin-left: 10px;
}

[dir="ltr"] .help-option img {
  margin-right: 10px;
}


.edit-container {
  display: flex;
  align-items: center;
}

[dir="rtl"] .edit-container {
  margin-right: auto;
}

[dir="ltr"] .edit-container {
  margin-left: auto;
}

.edit-title {
  font-size: 14px;
  font-weight: 400;
  color: #171C8F;
  margin: 0 10px;
  text-decoration: underline;
}

.edit-icon {
  width: 43px;
  height: 43px;
  display: inline-block;
}


.card-body-text {
  align-items: start;
  display: flex;
  font-weight: 400;
  font-size: 22px;
}

.first-card-body {
  border-left: 1px solid rgba(0, 0, 0, .125);
  border-right: 1px solid rgba(0, 0, 0, .125);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top: none;
}


.terms-list {
  font-weight: 400;
  font-size: 16px;
  color: #1A1A1A;
  list-style-type: none;
  padding-left: 0;
}



.terms-list li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;

}

.term-apply li {
  margin-bottom: 10px;
}

.terms-list li::before {
  content: '';
  position: absolute;
  top: 50%;
  margin: 0 -20px;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background-color: #171C8F;
  border-radius: 50%;
}

li {
  text-align: start;
}

.details-text {
  font-weight: 500;
  font-size: 16px;
  color: #1A1A1A;
  margin-top: 20px;
  text-align: start;
}

.regular-text {
  font-weight: 400;
  font-size: 16px;
  color: #575757;
  text-align: start;
  margin-bottom: 5px;
}



.bold-text {
  font-weight: 700;
  font-size: 16px;
  color: #1A1A1A;
  text-align: start;
}


.sub-header-text {
  font-size: 24px;
  font-weight: 400;
  color: #171C8F;
}


.sub-header {
  background-color: #E8E8F4;
}

.form-label {
  font-weight: 400;
  font-size: 14px;
  color: #1A1A1A;
  margin-bottom: 8px;
}

.custom-input {
  width: 100%;
  height: 56px;
  border: 1px solid #D1D2E9;
  border-radius: 8px;
}

.form-control:focus,
.form-select:focus {
    border-color: #D1D2E9;
    box-shadow: inset 0 1px 3px rgba(209, 210, 233, 0.5), 0 0 3px rgba(209, 210, 233, 0.5);
}

.form-control::-webkit-inner-spin-button,
.form-control::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.file-upload-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  padding: .375rem .75rem;
  height: 56px;
}

.file-upload-input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.file-upload-label {
  display: flex;
  align-items: center;
  width: 100%;
}

.file-upload-button {
  display: inline-block;
  padding: .375rem .75rem;
  color: #171C8F;
  border-radius: .25rem;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}

.file-upload-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height:  44px;
  border-radius: 8px;
}

.file-upload-name {
  margin-left: .5rem;
  color: #007bff;
  text-decoration: underline;
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.file-upload-icon {
  color: green;
  margin-right: .5rem;
}

.file-upload-remove {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
  font-size: 1.5rem;
  line-height: 1;
}

.form-group {
    text-align: start;
}

.form-check-label {
    font-weight: 500;
    font-size: 14px;
}

.form-check-input {
    width: 16px;
    height: 16px;
    margin-top: 2px;
    border: 1.5px solid #000000;
}

[dir="rtl"] .form-check-input {
  margin-left: 0.5em;
}


[dir="rtl"] .form-check {
  margin-right: 0px !important;
}



.btn-group {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.custom-label {
  position: relative;
  padding: 30px 25px 15px 25px;
  width: 240px;
  height: 112px;
  border: 1px solid #D1D2E9;
  border-radius: 10px;
  text-align: start;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.custom-label:hover {
  background-color: #f0f0f0;
}

.selected {
  background-color: #f0f0f0;
}

.custom-label input[type="radio"]:checked~.custom-label {
  background-color: #f0f0f0;
}

.custom-label input[type="radio"] {
  position: absolute;
  border: 2px solid #171C8F;

}
[dir="ltr"] .custom-label input[type="radio"] {
  top: 10px;
  right: 10px;
}

[dir="rtl"] .custom-label input[type="radio"] {
  top: 10px;
  left: 10px;
}

.yes-text {
  color: #171C8F;
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.sub-text {
  color: #575757;
  font-size: 12px;
  font-weight: 400;
  text-align: start;

}


.form-check {
  display: flex;
  align-items: left;
}

.form-check-input:checked[type=radio] {
  background-image: url(../icons/radioCheck.svg)
}

.form-check-input:checked {
  background-color: #ffffff !important;
  border-color: #171C8F;
  border: 1.5px solid #171C8F;
}

.form-check-input {
    margin-right: 5px;
}

.form-check-input:checked {
    background-color: #171C8F;
}

#continueBtn {
  width: 228px;
  height: 56px;
  background-color: #c9cdd0;
  border: none;
  color: white;
  cursor: not-allowed;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 400;
}

#continueBtn:enabled {
  cursor: pointer;
}


.text-icon-container {
  display: flex;
  align-items: flex-start;
}



.card-header[data-bs-toggle="collapse"][aria-expanded="false"] {
  background-color: #FFF;
  border-top: 1px solid rgba(0, 0, 0, .125);;
  border-bottom: none;
}

.card-header[data-bs-toggle="collapse"][aria-expanded="false"] .step,
.card-header[data-bs-toggle="collapse"][aria-expanded="false"] .title {
  color: #575757;
}

.card:not(.show) {
  border-left: none;
  border-right: none;
}

.card-container:not(.show) {
  border-top: none !important;
  border-bottom: 1px solid rgba(0, 0, 0, .125);;
}

.engage-container-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.engage-card-container {
  display: flex;
}

.engage-card {
  cursor: pointer;
  min-width: 304px;
  height: 162px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
  border: 1px solid rgba(0, 0, 0, .125);
}

.engage-card:hover {
  box-shadow: 0 -4px 16px rgba(0, 0, 0, .125),
  0 4px 16px rgba(0, 0, 0, .125);
}

.engage-card:last-child {
  margin-right: 0;
}

.engage-card-body {
  padding: 20px 50px;
}

.engage-card-icon {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.engage-card-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #333;
  margin-bottom: 5px;
}

.engage-card-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #666;
}


.text-title {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 0;
}

.sub-body-title {
  font-size: 16px;
  font-weight: 700;
}

.sub-body-text {
  font-size: 16px;
  font-weight: 400;
}

.check-icon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  margin-top: 5px;
}



.questions-card {
  background-color: #EEEEEE;
  margin-top: 10rem;
  border-radius: 8px;
}

#backToHomeBtn {
  min-width: 228px;
  height: 56px;
  background-color: #171C8F;
  border: none;
  color: white;
  cursor: not-allowed;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 400;
  margin: 15px;
}

#backToHomeBtn:enabled {
  cursor: pointer;
}

.card-border {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 8px;
}

.approved {
  color: #008E43;
}

.rejected {
  color: #BE0000;
}

.pending {
  color: #CC9300;
}

.status-card-header {
  width: 100%;
  border-radius: 8px;
}

.status-card-approved {
  border: 1px solid #33C176;
  background-color: #E5F7EE;
}

.status-card-rejected {
  border: 1px solid #F89999;
  background-color: #FDE5E5;
}

.status-message {
  font-weight: 400;
  font-size: 16px;
  list-style-type: none;
  padding-left: 0;
  text-align: left;
  margin: 0;
  padding: 15px 10px 0px 10px;
  display: flex;
  align-items: flex-start;
}

.status-message-approved {
  color: #006A32;
}

.status-message-rejected {
  color: #BE0000;
}

.status-icon {
  margin: 2px 5px 5px 5px;
}

.phone-icon {
  margin-right: 10px;
}

.help-container {
  /* max-width: 970px; */
}

.help-card-header {
  max-width: 970px;
  border: 1px solid #9ABFF3;
  background-color: #E6EFFC;
  border-radius: 8px;
}

.help-message {
  font-weight: 400;
  font-size: 16px;
  color: #024BB4;
  list-style-type: none;
  padding-left: 0;
  text-align: left;
  margin: 0;
  padding: 15px 10px 0px 10px;
  display: flex;
  align-items: flex-start;
}

.mandatory-text {
  text-align: start;
  display: flex;
  margin-top: 50px;
}

.status-message-error {
  font-weight: 400;
  font-size: 16px;
  list-style-type: none;
  color: #BE0000;
  padding-left: 0;
  text-align: left;
  margin: 0;
  padding: 15px 10px 10px 10px;
  display: flex;
  align-items: flex-start;
}

.terms-card-container {
  background-color: #FDE5E5;
  margin-top: 20px;
  border: 1px solid #F89999 !important;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
}

.error-message-container {
  display: flex;
  align-items: baseline;
}

.cancel-icon {
  padding:0px 5px;
}
