body {
    font-family: 'Dubai', sans-serif;
    margin: 0;
    padding: 0;
}

.title {
    font-size: 45px;
    font-weight: 400;
    color: #1A1A1A;
    text-align: start;
}

.title img {
    margin-right: 15px;
}

.scholarship-card {
    background-color: #EEEEEE;
    height: 584px;
    width: 976px;
    margin-top: 20px;
    padding: 20px;
    border: none;
}

.scholarship-text {
    font-weight: 400;
    font-size: 16px;
    color: #1A1A1A;
    margin-bottom: 20px;
}

.terms-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #1A1A1A;
    margin-bottom: 10px;
}

.terms-list {
    font-weight: 400;
    font-size: 16px;
    color: #1A1A1A;
    list-style-type: none;
    padding-left: 0;
}

.terms-list li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
}

.terms-list li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    background-color: #171C8F;
    border-radius: 50%;
}

.help-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 60px 50px;
}

.help-title {
    font-weight: 400;
    font-size: 28px;
    color: #1A1A1A;
    margin-bottom: 20px;
}

.help-option {
    font-weight: 400;
    font-size: 16px;
    color: #1A1A1A;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.bold-text {
    font-weight: 700;
    padding: 0 5px;
}

.help-option i {
    margin-right: 10px;
    font-size: 24px;
    color: #171C8F;
}


.help-option img {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}