body {
    font-family: 'Dubai', sans-serif;
    margin: 0;
    padding: 0;
}

.card-container {
    max-width: 970px;
    border-radius: 10px;
}

.card-header {
    display: flex;
    align-items: center;
    background-color: #EEEEEE;
    border-bottom: none;
}

.first-card {
    width: 970px;
    border-radius: 10px;
    }
    
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    }

.step {
    font-size: 14px;
    font-weight: 500;
    color: #171C8F;
    margin-right: 20px;
}

.step-one {
    font-size: 57px;
    font-weight: 400;
    color: #171C8F;
}

.step-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 0;
    color: #171C8F;
    text-align: start;
}

.edit-container {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  
  .edit-title {
    font-size: 14px;
    font-weight: 400;
    color: #171C8F;
    margin-right: 10px;
    text-decoration: underline;
  }
  
  .edit-icon {
    width: 43px;
    height: 43px;
    display: inline-block;
  }

  
  .first-card-body {
    border-left: 1px solid rgba(0, 0, 0, .125);
    border-right: 1px solid rgba(0, 0, 0, .125);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top: none;
}

.regular-text {
    font-weight: 400;
    font-size: 16px;
    color: #575757;
    text-align: start;
    margin-bottom: 5px;
}



.bold-text {
    font-weight: 700;
    font-size: 16px;
    color: #1A1A1A;
    text-align: start;
}

#continueBtn {
    width: 228px;
    height: 56px;
    background-color: #171C8F;
    border: none;
    color: white;
    cursor: not-allowed;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 400;
    margin: 30px 15px;
  }
  
  #continueBtn:enabled {
    cursor: pointer;
  }


  .sub-header-text {
    font-size: 24px;
    font-weight: 400;
    color: #171C8F;
  }

  .sub-header {
    background-color: #E8E8F4;
  }


  .form-group {
    text-align: start;
}

.form-label {
    font-weight: 400;
    font-size: 14px;
    color: #53565A;
    margin-bottom: 8px;
}

.file-upload-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding: .375rem .75rem;
    height: 56px;
}

.file-upload-input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}


.file-upload-label {
    display: flex;
    align-items: center;
    width: 100%;
}

.file-upload-button {
    display: inline-block;
    padding: .375rem .75rem;
    color: #171C8F;
    border-radius: .25rem;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
}


.file-upload-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height:  44px;
    border-radius: 8px;
}

.file-upload-name {
    margin-left: .5rem;
    color: #007bff;
    text-decoration: underline;
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.file-upload-icon {
    color: green;
    margin-right: .5rem;
}

.file-upload-remove {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 1.5rem;
    line-height: 1;
}

.card-header[data-bs-toggle="collapse"][aria-expanded="false"] {
    background-color: #FFF;
    border-top: none;
    border-bottom: none;
  }
  
  .card-header[data-bs-toggle="collapse"][aria-expanded="false"] .step,
  .card-header[data-bs-toggle="collapse"][aria-expanded="false"] .title {
    color: #575757;
  }
  
  .card:not(.show) {
    border-left: none;
    border-right: none;
  }