body {
    font-family: 'Dubai', sans-serif;
    margin: 0;
    padding: 0;
}

.card-container {
    width: 970px;
    border-radius: 10px;
}


.first-card {
    width: 970px;
    border-radius: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-header {
    display: flex;
    align-items: center;
    background-color: #EEEEEE;
    border-bottom: none;
}

.terms-card {
    background-color: #EEEEEE;
    margin-top: 20px;
    border: none;
    height: 56px;
}

.step {
    font-size: 14px;
    font-weight: 500;
    color: #171C8F;
    margin-right: 20px;
}

.step-one {
    font-size: 57px;
    font-weight: 400;
    color: #171C8F;
}

.step-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 0;
    color: #171C8F;
    text-align: start;
}

.edit-container {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  
  .edit-title {
    font-size: 14px;
    font-weight: 400;
    color: #171C8F;
    margin-right: 10px;
    text-decoration: underline;
  }
  
  .edit-icon {
    width: 43px;
    height: 43px;
    display: inline-block;
  }

  
.first-card-body {
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    border-radius: 8px;
}


.terms-list {
    font-weight: 400;
    font-size: 16px;
    color: #1A1A1A;
    list-style-type: none;
    padding-left: 0;
}



.terms-list li {
    position: relative;
    padding-left: 20px;
}

.terms-list li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    background-color: #171C8F;
    border-radius: 50%;
}

li {
    text-align: left;
}

.details-text {
    font-weight: 500;
    font-size: 16px;
    color: #1A1A1A;
    margin-top: 20px;
    text-align: start;
}

.form-label {
    font-weight: 400;
    font-size: 14px;
    color: #1A1A1A;
    margin-bottom: 8px;
}

.custom-input {
    width: 100%;
    height: 56px;
    border: 1px solid #D1D2E9;
    border-radius: 8px;
}

.form-control:focus,
.form-select:focus {
    border-color: #D1D2E9;
    box-shadow: inset 0 1px 3px rgba(209, 210, 233, 0.5), 0 0 3px rgba(209, 210, 233, 0.5);
}


.form-group {
    text-align: start;
}

.form-check-label {
    font-weight: 500;
    font-size: 14px;
}

.form-check-input {
    width: 16px;
    height: 16px;
    margin-top: 2px;
}

.form-check-input {
    width: 16px;
    height: 16px;
    margin-top: 2px;
    border: 1.5px solid #000000;
}

.form-check-input:checked[type=radio] {
    background-image: url(../icons/radioCheck.svg)
}

.form-check-input:checked {
    background-color: #ffffff;
    border-color: #171C8F;
    border: 1.5px solid #171C8F;
}

#continueBtn {
    width: 228px;
    height: 56px;
    background-color: #171C8F;
    border: none;
    color: white;
    cursor: not-allowed;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 400;
}

#continueBtn:enabled {
    cursor: pointer;
}

.card-header[data-bs-toggle="collapse"][aria-expanded="false"] {
    background-color: #FFF;
    border-top: none;
    border-bottom: none;
}

.card-header[data-bs-toggle="collapse"][aria-expanded="false"] .step,
.card-header[data-bs-toggle="collapse"][aria-expanded="false"] .title {
    color: #575757;
}

.card:not(.show) {
    border-top: none;
    border-bottom: none;
}